// * 设置 notification/message 层级在 loading 之上
.el-message,
.el-notification {
	z-index: 99999 !important;
}

// * 设置 el-alert 边框
.el-alert {
	border: 1px solid;
}

// * 解决 popup 弹出时宽度会 100%-8px 问题，在浏览器缩放 特定的情况下才会出现
.el-popup-parent--hidden {
	width: 100% !important;
}

// * el-table 组件大小切换样式
.el-table--small {
	.el-table__header th {
		height: 40px !important;
		font-size: 14px !important;
	}
	.el-table__row {
		height: 40px !important;
		font-size: 13px !important;
	}
}
.el-table--large {
	.el-table__header th {
		height: 50px !important;
		font-size: 16px !important;
	}
	.el-table__row {
		height: 50px !important;
		font-size: 15px !important;
	}
}

// * el-drawer 样式
.el-drawer {
	.el-drawer__header {
		padding: 15px 20px 14px;
		margin-bottom: 0;
		border-bottom: 1px solid var(--el-border-color-lighter);
		span {
			font-size: 17px;
			color: var(--el-text-color-primary) !important;
		}
	}
	.el-drawer__footer {
		border-top: 1px solid var(--el-border-color-lighter);
	}

	// drawer select 样式
	.el-select {
		width: 100%;
	}

	// drawer-form 中两列 form-item
	.drawer-multiColumn-form {
		display: flex;
		flex-wrap: wrap;
		.el-form-item {
			width: 47%;
			&:nth-child(2n-1) {
				margin-right: 5%;
			}
		}
	}
}

// * el-dialog 样式
.el-dialog {
	.el-dialog__header {
		padding: 15px 20px;
		margin: 0;
		border-bottom: 1px solid var(--el-border-color-lighter);
		.el-dialog__title {
			font-size: 17px;
		}
	}
}
